

    <div class="flex-container">

        <form class="caixa">
            <h2>Alterar</h2>
            <label>Id</label><br><input type="text" name="id" [(ngModel)]="vaga.id"><br>
            <label>Nome</label><br><input type="text" name="nome" [(ngModel)]="vaga.nome"><br>
            <label>Foto</label><br><input type="text" name="foto" [(ngModel)]="vaga.foto"><br>
            <label>Descrição</label><br><input type="text" name="descricao" [(ngModel)]="vaga.descricao"><br>
            <label>Salário</label><br><input type="number" placeholder="0.00" name="salario" [(ngModel)]="vaga.salario"><br>
           
            <div class="botao">                
                <!-- <button name="botao" type="button" (click)="atualizar(vaga.id)">alterar Vaga</button>  -->
                <button name="botao" type="button" [swal]="{
                    title: 'Atenção',
                    text: 'Deseja realmente alterar a vaga ?',
                    showDenyButton:true,
                    denyButtonText: 'Não',
                    confirmButtonText: 'Sim, alterar',
                    icon: 'warning'
                }" (confirm)="atualizar(vaga.id)"                 
                >Alterar Vaga</button>  

            </div>
            
            
        </form>
        </div>